html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.selected {
  color: red;
  font-weight: bold;
}